html{
    background: rgb(187, 224, 187);
}
div{
    position: relative;
}
.z{
    width: 500px;
    height: 600px;
    background: rgb(117, 146, 117);
    border-radius: 20px;
    left: 500px;
    top:100px;
}
#c{
    width: 450px;
    height: 200px;
    border-radius: 20px;
    background: rgb(146, 238, 166);
    left: 25px;
    top: 20px;
}
button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    position: relative;
}
#nine{
    left: 50px;
    top:70px;
    background: rgb(170, 241, 192);
}
#eight{
    left:40px;
    top:70px;
    background: rgb(170, 241, 192);
}
#seven{
    left:30px;
    top:70px;
    background: rgb(170, 241, 192);
}
#six{
    left: 155px;
    top: 80px;
    background: rgb(170, 241, 192);
}
#five{
    left: 145px;
    top:80px;
    background:rgb(170, 241, 192);
}
#four{
    left: -280px;
    top:130px;
    background: rgb(170, 241, 192);
}
#three{
    left: 260px;
    top: 90px;
    background: rgb(170, 241, 192);
}
#two{
    left: -165px;
    top:140px;
    background: rgb(170, 241, 192);
}
#one{
    left: -175px;
    top:140px;
    background: rgb(170, 241, 192);
}
#zero{
    left: 45px;
    top:150px;
    background: rgb(170, 241, 192);
}
#mult{
    left:160px;
    top:20px;
    background: rgb(170, 241, 192);
}
#divide{
    left:55px;
    top:90px;
    background: rgb(170, 241, 192);
}
#sub{
    left:265px;
    top:160px;
    background: rgb(170, 241, 192);
}
#addition{
    left:368px;
    top:90px;
    background: rgb(170, 241, 192);
}
#delete{
    left:160px;
    top: -100px;
    background: rgb(234, 23, 23);
}


.calculator{
    width:300px;
    margin: 0 auto;
    text-align: center;
}
input {
    width: 100%;
    padding:10px;
    margin-bottom:10px;
}
button{
    padding: 10px 20px;
    /* background-color: ;
    color: ; */
    border: none;
    cursor: pointer;
}
/* button:hover {
    background-color: ;
} */